<h1>Found <%= @count %> places close to <%= @placename %></h1>
<table>
  <thead>
    <th>Name</th>
    <th>Place</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Map link</th>
    <th>Distance (km)</th>
    <th>Pubs</th>
  </thead>
  <tbody>
    <% if @places %>
      <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.place %></td>
        <td><%= place.latitude.round 4 %></td>
        <td><%= place.longitude.round 4 %></td>
        <td><a href="<%= place.map_url %>">Map</a></td>
        <td><%= (place.distance/1000.0).round 2 %> km </td>
        <td><a href="/pubs/<%= place.osm_id %>">Pubs</a></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
